#login-box {
    position: fixed;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background-color: #000000AA;
    .box {
        background-color: red;
        width: 10vh;
        height: 10vh;
    }
}